.vehicle-search-filters-container {
  flex: 0 0 auto;
  padding-right: 39px;
  padding-left: 39px;
  margin-top: 170px;
}
.vehicle-filter-panel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding: 15px;
  background: #db5c4c;
  border-radius: 0px 0px 0px 12px;
}
.vehicle-filter-options-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}
.verified-vin-container1 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 24px;
}
.verified-vin-badge {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  margin-left: 6px;
  background: white;
  border-radius: 2px;
}
