.main-content-container1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1920px;
}
.main-content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 1130px;
  padding-top: 142px;
  width: 100%;
}
.search-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4px;
}
.site-search-filter-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 709px;
}
.search-header-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  padding-right: 44px;
  padding-left: 44px;
  border-radius: 10px;
}
.search-header-container input {
  min-width: 609px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  padding-right: 44px;
  padding-left: 44px;
  border-radius: 10px;
}

.search-input {
  flex: 1;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  font-size: 16px; /* Размер шрифта для ввода */
}

.search-icon {
  position: absolute; /* Абсолютное позиционирование для иконки */
  left: 10px; /* Расстояние от левого края */
  top: 50%; /* Центрирование по вертикали */
  transform: translateY(-50%); /* Корректировка для центрирования */
  width: 20px; /* Установите желаемую ширину */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  color: black;
}

.search-message {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 400 16px/18px Inter, sans-serif;
  color: black;
}
.search-heading-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-left: 445px;
  font: 400 16px/18px Inter, sans-serif;
  color: black;
}

.header-container {
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: stretch !important;
  justify-content: flex-start !important;
  min-width: 1920px !important;
  height: 75px !important;
  padding-right: 48px !important;
  padding-left: 910px !important;
  background: #2b2b2a !important;
  margin: 0 !important;
  padding: 0 !important;
}
.vertical-image-container {
  box-sizing: border-box !important;
  display: flex !important;
  flex: 0 0 auto !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start !important;
  width: 18.63% !important;
  padding-top: 25.5px !important;
  padding-right: 15px !important;
  padding-left: 960px;
}
.text-block-container {
  box-sizing: border-box !important;
  display: block !important;
  width: 100px !important;
  max-width: initial !important;
  height: 23px !important;
}
.vertical-align-image-container {
  box-sizing: border-box !important;
  display: flex !important;
  flex: 0 0 auto !important;
  flex-direction: column !important;
  align-items: flex-end !important;
  justify-content: !important;
  width: 81.37% !important;
  padding-top: 18px !important;
  padding-right: 750px;
  padding-top: 25.5px !important;
}
.image-container-styled {
  box-sizing: border-box !important;
  display: block !important;
  width: 29px !important;
  max-width: initial !important;
  height: 25px !important;
  border: none !important;
  object-fit: cover !important;
}
