.content-wrapper {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 425px;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-left: 3.25px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
}
.language-menu {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 400 10px Inter, sans-serif;
  color: white;
  padding-left: 400px;
}

.menu-button {
  background: #000;
  backdrop-filter: blur(10px);
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}

.menu-button-contact {
  background: #000;
  backdrop-filter: blur(10px);
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}

.dropdown-menu,
.contact-menu {
  position: absolute;
  border-radius: 5px;
  z-index: 10;
  padding: 5px;
}

.language-dropdown {
  bottom: 100%;
  left: 0;
}

.contact-dropdown {
  bottom: 100%;
  padding-left: 970px;
  padding-bottom: 95px;
}

.language-button,
.contact-button {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.language-button:hover,
.contact-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.image-with-text-overlay {
  box-sizing: border-box;
  display: block;
  width: 31.5px;
  max-width: initial;
  height: 25px;
  border: none;
  object-fit: cover;
}

.contact-section-heading {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 400 9.5px Inter, sans-serif;
  color: white;
  padding-left: 300px;
}
