.header-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 1920px;
  height: 75px;
  padding-right: 48px;
  padding-left: 910px;
  background: #2b2b2a;
}
.vertical-image-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 18.63%;
  padding-top: 15.5px;
  padding-right: 15px;
}
.text-block-container {
  box-sizing: border-box;
  display: block;
  width: 100px;
  max-width: initial;
  height: 23px;
}
.vertical-align-image-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 81.37%;
  padding-top: 18px;
}
.image-container-styled {
  box-sizing: border-box;
  display: block;
  width: 29px;
  max-width: initial;
  height: 25px;
  border: none;
  object-fit: cover;
}
