.vehicle-selector-region-filter-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.vehicle-selector-container {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 50%;
  padding-right: 15px;
}
.filter-section-container {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 50%;
  padding-left: 15px;
}
