.verified-vin-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 14px;
  padding-left: 15px;
  background: #246799;
  border-radius: 2px;
}
.svg-container1 {
  display: flex;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  color: #ffffff;
}
.verified-vin-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-left: 8.5px;
  font: 400 15.5px Inter, sans-serif;
  color: white;
}
